[project]
	description = First Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SSUS31
[access "refs/for/refs/*"]
	read = group user/SSUS31
	push = group user/SSUS31
	label-Code-Review = -2..+2 group user/SSUS31
	label-Verified = -1..+1 group user/SSUS31
	rebase = group user/SSUS31
	removeReviewer = group user/SSUS31
	submit = group user/SSUS31
[access "refs/heads/*"]
	read = group user/SSUS31
	create = group user/SSUS31
	push = +force group user/SSUS31
	pushMerge = group user/SSUS31
[access "refs/tags/*"]
	push = group user/SSUS31
	push = +force group user/SSUS31
